.row{
background: linear-gradient(270deg, #ffead1, #ffb6bd, #e0b5ff);
background-repeat: no-repeat;
background-attachment:local;
background-size: 150% 150%;
animation: backgroundAnimation 10s ease infinite;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
margin: 0;
}

.card {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); ;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(5px);
  margin: 100px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#nombre{
  margin-top: 40%;
  font-family:"Montserrat", sans-serif;
  font-size:25px;
  color:rgb(77, 59, 100);
  text-align:center;
}

#full{
  text-align:center;
  color:rgb(77, 59, 100);
  font-family:"Montserrat", sans-serif;
  font-size:20px;
}

.about{
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 30px;
}

.title_hr {
  border: solid 3px #6945eb;
  width: 100px;
  margin-top: -30px;
  margin-left: 1.8em;
  position:relative;
}



.img{
  position:relative;
  top:auto;
  left: 5px;
  width: 150px;
  border-radius: 50%;

  margin: 30%;
  box-shadow: 0px 0px 20px whitesmoke;
}

@media(min-width:576px){
  #fotoperfil{
    position:absolute;
    width: 13%;
    border-radius: 100%;

    left: 2%;
    top: 600px;
    box-shadow: 0px 0px 20px whitesmoke;
  }
}
@media(max-width:575px){
  #fotoperfil{
    position:absolute;
    width: 30%;
    border-radius: 100%;

    left: 33%;
    top: 900px;
    box-shadow: 0px 0px 20px whitesmoke;
  }
}

