<div class="row">
  <div col="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/joha.png" class="img-fluid" id="fotoperfil">
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <h5><p id="full">Full Stack Developer Jr.</p></h5>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="about">
    <span>
    <h1><strong>ABOUT ME</strong></h1>
    <div class="title_hr"></div>
    <br>
    <h5><p>Diseño, rediseño y programo sitios y aplicaciones web, ya sea del lado del ciente(Front-end),
      como del lado del servidor(Back-end).
    Incorporando nuevos conocimientos, habilidades y tendencias tecnológicas en el campo del diseño y
    desarrollo de aplicaciones web.</p></h5>
  </span>
</div>
</div>

