<section class="about_section">
  <div class="about__container">

    <img src={{persona.img}}  class="img_perfil ">

    <span><h2 class="section-title">About me</h2></span>

      <div id="agregar" id="about_icon" routerLink="/editaboutme/1" *ngIf="isLogged">
        <i class='bx bxs-edit-alt' style="float:none; width: 80%; margin-top: 40px;"></i>
      </div>
      <br>

      <h2 class="about__subtitle"><p class="about__subtitle">I'am {{persona.nombre}} {{persona.apellido}}</p></h2>
    <h4>
      <span class="about__profession">Full Stack Developer Jr.</span>
    </h4>

    <h4>
      <span class="descripcion">
      <p class="about__text" id="about">{{persona.descripcion}}</p>
    </span>
  </h4>

    <div class="about__social">
        <a href="https://www.linkedin.com/in/johanna-antonella-raffo-8a9564158/" class="about__social-icon"><i class='bx bxl-linkedin' ></i></a>
        <a href="https://github.com/johantonella" class="about__social-icon"><i class='bx bxl-github' ></i></a>

        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
      </div>

    </div>
  </section>






