.row{
  background: linear-gradient(270deg, #ffead1, #ffb6bd, #e0b5ff);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 150% 150%;
  animation: backgroundAnimation 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  align-content: center;
}

.card {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); ;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(5px);
  margin: 100px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.proyectos{
  font-weight: 500px;
  font-family: "Montserrat", sans-serif;
  padding: 30px;
}

.title_hr {
  border: solid 3px #6945eb;
  width: 100px;
  margin-top: 20px;
  margin-left: 0.2em;
  position:relative;
}


@media(min-width:576px){
.row-cols-1, .row-cols-md-3, .g-4{
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
}

