<div class="container" *ngIf="educacion">
  <div class="row">
    <div>

      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreE"><h3>Nombre de la Institución</h3></label>
          <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
          <br>
          <label for="descripcionE"><h3>Descripción de los Estudios</h3></label>
          <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE" required>
          <br>
          <br>
          <button class="btn btn-secondary">Actualizar</button>
        </div>
      </form>
    </div>
  </div>

