<div class="row">
  <div class="col-lg-1"></div><div class="col-lg-11" id="educacion">
    <h1><strong>EDUCACIÓN</strong></h1>
    <div class="title_hr"></div>
    <br>
    <br>
    <span>
      <div class="lista">
      <h3><strong>CODO A CODO:"Desarrollador Full Stack JAVA"| En Curso</strong></h3>
      <h3><p>Orientado a objetos concurrentes y tipeado estático</p></h3>
      <br>
      <h3><strong>ARGENTINA PROGRAMA:"Desarrollador Full Stack Jr."| 2022</strong></h3>
      <h3><p>Conocimiento en lenguajes de programación de Front End, Back End, APIs y Bases de datos</p></h3>
      <br>
      <h3><strong>DOMESTIKA:"Diseño web creativo"| 2022</strong></h3>
      <h3><p>Proceso de planificación, diseño, programación y lanzamiento de un sitio web atractivo, usando HTML, CSS y JavaScript<p></h3>
      <br>
      <br>
    </div>
  </span>
</div>
