<section class="educacion_section" id="educacion">
  <div class="educacion__container">

    <span><h2 class="section-title">Educación</h2>

    <div id="agregar"  routerLink="/nuevaedu" *ngIf="isLogged"><i class='bx bxs-edit-alt' style="float:right;
      width: 50%;"></i></div>
      </span>
    <br>

    <span class="tablas border-collapse">
      <div class="nueva_educacion">

        <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let Educacion of educacion">
            <td>
              <h4 class="table_subtitle">{{Educacion.nombreE}}</h4>
            </td>
            <td><h4 class="table_name">{{Educacion.descripcionE}}</h4></td>

            <td *ngIf="isLogged" class="edu-icon">
              <button class="btn" routerLink="/editedu/{{Educacion.id}}">
                <i class='bx bxs-edit-alt'></i>
              </button>
            </td>

            <td *ngIf="isLogged" class="edu-icon">
              <button class="btn" (click)="delete(Educacion.id)">
                <i class='bx bx-trash-alt'></i>
              </button>
            </td>

            <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
          </tr>
        </tbody>
      </table>
    </div>
  </span>
</div>
</section>

