* {
  box-sizing: border-box;
}

:root{
  background-color: #fafaff;
 }

::before, ::after {
  box-sizing: border-box;
}

.educacion__container{
  font-family: "Montserrat", sans-serif;
  padding: 20vh;
  justify-items: center;
}

.section-title {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  color: #2a3b47;
  margin:  10px;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 4px;
  left: 0;
  right: 0;
  margin: auto;
  top: 32px;
  background-color: #5361ff;
}

.nueva_educacion{
  position: relative;
  margin: 2vh 0;
}

.tablas{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.table_subtitle{
  font-weight: bold;
  color:#5361ff;
  padding: 2vh
}
.table_name{
  color:#697477;
  padding: 2vh 0;
  font-size: 3vh;
}

.edu-icon, #agregar {
  color: #697477;
  padding:2vh 0;
}

.edu-icon:hover, #agregar {
  color:#5361ff;
}

/***Media Queries***/

@media screen and (min-width: 390px){
.section-title::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 4px;
  margin: auto;
  top: 60px;
}
}

 @media screen and (min-width: 768px){
  .educacion__container {
    align-items: center;
    }

  .section-title::after {
      width: 64px;
      top: 48px;
    }
  .section {
      padding-top: 1px;
    }
  }


