<section>
    <div class="forms__container">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm" id="form">

        <label for="nombreE"><h3>Institución Educativa</h3></label>
        <input type="text" class="form-control" placeholder="Institución" aria-label="Institucion" name="nombreE" [(ngModel)]="nombreE" required>
        <br>
        <label for="descripcionE" class="form-label"><h3>Descripción de los Estudios</h3></label>
        <textarea class="form-control" id="descripcionE" rows="3" name="descripcionE" placeholder="Descripcion" name="descripcionE"[(ngModel)]="descripcionE" required></textarea>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
      </form>
    </div>
  </section>
