<footer class="footer section">
  <div class="footer_container bd-grid">

<ul class="social_icon">
  <li><a href="https://www.linkedin.com/in/johanna-antonella-raffo-8a9564158/"><i class='bx bxl-linkedin'></i></a></li>
  <li><a href="https://github.com/johantonella"><i class='bx bxl-github'></i></a></li>
  <li><a href="https://discord.com/channels/@me"><i class='bx bxl-discord'></i></a></li>
</ul>

<ul class="menu">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="mailto:raffojohanna@gmail.com">Contact</a></li>
</ul>

<h6><p>Made with <span> ❤</span> by Johanna Raffo</h6>
<h6><p>©2022 All Rights Reserved | Buenos Aires, Argentina.</p></h6>

</div>
</footer>


<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>


