<section class="hys_section" id="hys">
  <span><h2 class="section-title">Hard & Skill</h2></span>

  <div role="button"routerLink="/newskill" *ngIf="isLogged">
    <i class='bx bxs-edit-alt' id="btn" style="float:right; width: 50%;"></i>
  </div>
  <br>


  <div class="hys__container">

    <div style="text-align: center; overflow:hidden;" *ngFor="let skill of skill">
<span>
        <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="60"
            [title]="(skill.nombre)"
            [titleColor]="'#483500'"
            [titleFontSize]="'12'"
            [showTitle]="true"
            [showImage]=""
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]= "2"
            [space]="0"
            backgroundStroke = "'transparent'"
            [outerStrokeColor]="'#5361ff'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeGradient] = "true"
            [outerStrokeColor]= "'#d987d6'"
            [outerStrokeGradientStopColor] = "'#53a9ff'"
            [showInnerStroke]="true"
            [animation]="true"
            [animationDuration]="1000">
          </circle-progress></span>

          <td *ngIf="isLogged"class="hys-icon">
            <button class="btn" routerLink="/editskill/{{skill.id}}">
              <i class='bx bxs-edit-alt'></i>
            </button>
          </td>

          <td *ngIf="isLogged" class="hys-icon">
            <button class="btn" (click)="delete(skill.id)">
              <i class='bx bx-trash-alt'></i>
            </button>
          </td>
    </div>
  </div>

          <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

</section>



