* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  background-color: #fafaff;
}
::before, ::after {
  box-sizing: border-box;
}

.section-title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: #2a3b47;
  margin:  10px;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 4px;
  left: 0;
  right: 0;
  margin: auto;
  top: 32px;
  background-color: #5361ff;
}

/*--SKILLS-*/
.hys__container{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  padding: 8vh;
  margin: 20px 0;
}

.circle-progress{
  font-weight: bold;
  display: flex;
  padding: 1rem;
  }

#btn{
  color: #697477;
}

#btn:hover{
  color:#5361ff;
}

.hys-icon {
  color: #697477;
}
.hys-icon:hover {
  color:#5361ff;
}

/*Vista Multimedia*/

  @media screen and (min-width: 390px){
    .section-title {
      position: relative;
      font-size: 5vh;
      font-weight: bold;
      color: #2a3b47;
      margin:  10px;
      text-align: center;
    }
    .section-title::after {
      position: absolute;
      content: "";
      width: 65px;
      height: 4px;
      margin: auto;
      top: 40px;
    }

  i{
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px){
    .section-title::after {
        width: 64px;
        top: 48px;
      }
    .section {
        padding-top: 1px;
      }

  }

