<div class="row" id="titulo">

  <div class="col-lg-1"></div><div class="col-lg-11">
    <h1><strong>HARD & SOFT SKILL</strong></h1>
    <div class="title_hr"></div>
    <br>
    <br>
<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="80"
      [imageSrc]="'../assets/html.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="80"
      [imageSrc]="'../assets/css.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="75"
      [radius]="80"
      [imageSrc]="'../assets/JS.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="50"
      [radius]="80"
      [imageSrc]="'../assets/mysql.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="56"
      [radius]="80"
      [imageSrc]="'../assets/angular.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="65"
      [radius]="80"
      [imageSrc]="'../assets/github.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="80"
      [radius]="80"
      [imageSrc]="'../assets/Ps.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="90"
      [radius]="80"
      [imageSrc]="'../assets/comunicación.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="80"
      [imageSrc]="'../assets/habilidadDesarrollo.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="100"
      [radius]="80"
      [imageSrc]="'../assets/habilidadBrain.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="100"
      [radius]="80"
      [imageSrc]="'../assets/grupal.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#BF00E6'"
      [innerStrokeColor]="'#FF33FF'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress></div>
  </div>

