<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
         <label for="nombre"><h3>Nueva Skill</h3></label>
         <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        <br>
        <label for="porcentaje"><h3>Porcentaje</h3></label>
          <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
         <br>
         <br>
         <button class="btn btn-secondary">Agregar Skill</button>
        </div>
      </form>
    </div>
  </div>
