<div class="container" *ngIf="expLab">
  <div class="row">

    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="form-group">
        <label for="nombreE"><h3>Nombre de la Empresa</h3></label>
        <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
        <br>
        <label for="descripcionE"><h3>Descripción de las Tareas</h3></label>
        <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required>
        <br>
        <br>
        <button class="btn btn-secondary">Actualizar</button>
      </div>
    </form>
  </div>
</div>
