<section>
  <div class="forms__container">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="expLab">

      <label for="nombreE"><h3>Nombre de la Empresa</h3></label>
      <input type="text" class="form-control" placeholder="Empresa" aria-label="Empresa" [(ngModel)]="expLab.nombreE" required>
      <br>
      <label for="descripcionE" class="form-label"><h3>Descripción de las Tareas</h3></label>
      <textarea class="form-control" id="descripcionE" rows="3" name="descripcionE" placeholder="Descripcion" [(ngModel)]="expLab.descripcionE" required></textarea>
      <br>
      <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    </form>
  </div>
</section>

