* {
  box-sizing: border-box;
}

:root{
  background-color: #fafaff;
}
::before, ::after {
  box-sizing: border-box;
}

.experiencia__container{
  font-family: "Montserrat", sans-serif;
  justify-items: center;
}
.section-title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: #2a3b47;
  margin:  10px;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  background-color: #5361ff;
}

.nueva_experiencia{
  position: relative;
  margin: 2vh 0;
}

.tablas{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.table_subtitle{
  color:#5361ff;
  font-weight: bold;
  padding: 2vh;
}
.table_name{
  color:#697477;
  padding: 2vh 0;
  font-size: 3vh;
}

.exp-icon, #agregar {
  color: #697477;
  padding: 2vh 0;
}

.exp-icon:hover, #agregar {
  color:#5361ff;
}

/*Vista Multimedia*/
@media screen and (min-width: 390px){

  .section-title {
    position: relative;
    font-size: 5vh;
    font-weight: bold;
    color: #2a3b47;
    margin:  10px;
    text-align: center;
  }

  .section-title::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 4px;
  margin: auto;
  top: 40px;
}
}

  @media screen and (min-width: 768px){
  .experiencia__container {
    align-items: center;
    }
  .section-title::after {
      width: 64px;
      top: 48px;
  }
  .section {
      padding-top: 1px;
    }
  }

