.row{
  padding: 10px;
}
div{
  background-color: #999898;
}

/*
#experiencia{
  display:inline;
  color: #ffffff;
  font-family: "Ubuntu", 微軟正黑體;
  font-weight: 500px;
  padding: 50px;
  text-align:left;
}

#lista{
  display:inline;
  color: #ffffff;
  margin-top: 15px;
  margin-right: -20px;
  font-family: "Ubuntu", 微軟正黑體;
  font-weight: 500px;
  text-align: left;
}
p{
  text-align: right;
  font-weight: 500px;
  font-family: "Ubuntu", 微軟正黑體;
}
.title_hr {
  border: solid 3px  #F3ABA6;
  margin-right: 15px;
  width: 100px;
  position: relative;
}
*/
