<div class="row">

  <div class="container-fluid"></div>

   <!--Card Glass-->
   <div class="card card-body" style="justify-content: center">


  <div class="experiencia" ><h1>Experiencia Laboral</h1>
    <div class="title_hr"></div>
    <br>
  <div class="col-lg-2">
    <br>
    <button  class="button-13" role="button"routerLink="/nuevaexp" *ngIf="isLogged">Agregar</button>
  </div>

<div class="col-lg-1"></div>
<div class="col-lg-11">
  <table class="table">
    <tbody>
      <tr *ngFor="let Experiencia of exp">
        <td><h2>{{Experiencia.nombreE}}</h2></td>
        <td><h2>{{Experiencia.descripcionE}}</h2></td>
        <td *ngIf="isLogged">
          <button class="btn" routerLink="/editexp/{{Experiencia.id}}">
            <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/pencil--v1.png"/></button></td>

        <td *ngIf="isLogged">
            <button class="btn" (click)="delete(Experiencia.id)">
              <img src="https://img.icons8.com/windows/32/FFFFFF/trash.png"/></button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
