<section class="experiencia_section" id="experiencia">
  <div class="experiencia__container">

    <span><h2 class="section-title">Experiencia</h2>

      <div id="agregar" routerLink="/nuevaexp" *ngIf="isLogged"><i class='bx bxs-edit-alt' style="float:right; width: 50%;"></i>
      </div></span>
      <br>
      <span class="tablas">
      <div class="nueva_experiencia">
        <table class="table table-borderless">
          <tbody>
            <tr *ngFor="let Experiencia of exp">
              <td>
                <h4 class="table_subtitle">{{Experiencia.nombreE}}</h4>
              </td>
              <td>
                <h4 class="table_name">{{Experiencia.descripcionE}}</h4>
              </td>

              <td *ngIf="isLogged" class="exp-icon">
                <button class="btn" routerLink="/editexp/{{Experiencia.id}}">
                  <i class='bx bxs-edit-alt'></i>
                </button>
              </td>

              <td *ngIf="isLogged" class="exp-icon">
                <button class="btn" (click)="delete(Experiencia.id)">
                  <i class='bx bx-trash-alt'></i>
                </button>
              </td>

              <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
            </tr>
          </tbody>
        </table>
      </div>
    </span>
    </div>
  </section>

