<div class="row">
  <div class="container">

    <div class="logo">
      <img src="../../../assets/APLogo.png" id="logoAP">
    </div>

    <div class="redes">
          <a href="https://www.linkedin.com/in/johanna-antonella-raffo-8a9564158/"><img src="https://img.icons8.com/ios/50/FFFFFF/linkedin-2--v1.png"/></a>
          <a href="https://github.com/johantonella"><img src="https://img.icons8.com/ios/50/FFFFFF/github-2.png"/></a>
           <a href="https://discord.com/channels/@me"><img src="https://img.icons8.com/ios/50/FFFFFF/discord-logo--v1.png"/></a>

        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
    </div>
  </div>
</div>

